@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment</h1>
    <p class="lead"></p>
    <div></div>
    <p>@Html.ActionLink("Districts Overview", "Index", "Districts",null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>